In [3]:
import pandas as pd

In [16]:
PATH = '../../data/eval2_preds/2_models_ensemble.tsv'

In [17]:
data = pd.read_csv(PATH, sep='\t', encoding='utf-8',
                  names=['qid', 'query', 'passage', 'label', 'pid'])

In [18]:
data.head()

,qid,query,passage,label,pid
0,1136966,#ffffff color code,Color hex is a easy to use tool to get the col...,0.100932,0
1,1136966,#ffffff color code,#ffffff Color Conversion. The hexadecimal colo...,0.960049,1
2,1136966,#ffffff color code,CSS Codes; Color Preview; Color Schemes; Color...,1.112751,2
3,1136966,#ffffff color code,Color Hex Color Codes Color-hex gives informat...,0.200770,3
4,1136966,#ffffff color code,Color Hex Color Codes. Color-hex gives informa...,0.161511,4

In [19]:
qids = list(data['qid'])
scores = list(data['label'])

In [20]:
matrix = list()
for i in range(0, len(qids), 10):
    qid = qids[i]
    scr = scores[i:i+10]
    matrix.append([qid] + scr)

In [21]:
out_df = pd.DataFrame(matrix, columns=list(map(str, list(range(11)))))

In [22]:
out_df.head()

,0,1,2,3,4,5,6,7,8,9,10
0,1136966,0.100932,0.960049,1.112751,0.200770,0.161511,1.122996,1.476401,1.148596,0.681596,1.143856
1,1136956,0.158171,0.370996,0.579954,0.452004,0.870133,1.053054,0.772249,0.132935,1.016321,1.251745
2,1136841,0.397980,0.086434,0.519227,0.321695,0.534947,0.122755,0.557806,0.703479,0.669021,0.201433
3,1125025,0.044041,0.997512,0.146385,1.661069,0.108601,0.267373,0.038884,0.199438,0.803085,2.182386
4,86062,0.481166,0.445042,0.997184,1.383854,1.039849,0.127695,1.790105,0.478343,0.962268,0.374664

In [23]:
out_df.shape

(41538, 11)

In [24]:
out_df.tail()

,0,1,2,3,4,5,6,7,8,9,10
41533,1125027,0.893554,0.066179,0.309092,0.017541,0.022895,1.075460,0.114014,0.031586,0.044183,0.874183
41534,354157,0.780705,1.294841,0.544515,0.356885,0.117817,0.050013,0.156636,0.267042,0.121362,0.422230
41535,332649,0.060455,1.437714,0.102948,0.277289,0.085163,0.117206,0.108479,1.348411,0.161930,1.288631
41536,374435,0.532709,0.196730,0.433241,0.307359,0.342195,0.432028,0.289596,0.364911,0.392689,0.400273
41537,123628,0.349021,1.256225,1.280158,0.073669,1.050726,0.143537,1.841124,1.367846,0.372768,0.154958

In [25]:
out_df.to_csv('../../data/submissions/2_model_ensemble.tsv', sep='\t', 
              encoding='utf-8', index=False, header=False)